.projectsBlock {
    width: 230px;
    margin: 40px;
    padding: 10px;
    background-color: #111418;
    border-radius: 10px;
}

.projectsImg {

}

.projectsInfo {
    color: white;
    text-align: justify;
}

.projectsInfo h2 {
    text-align: center;
    color: #20c997;
    margin: 10px 0;
}

.projectsInfo p {
    color: hsla(0, 0%, 100%, .5);
    margin: 15px 0;
}

/*.projectsImg {
    background: url('https://i.ytimg.com/vi/9jfRNaV5N2c/hqdefault.jpg') no-repeat center top;
}*/

.projectsLink {
    color: white;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}


.projectsText {
    margin: 15px 0;
    opacity: 0;
    font-size: 30px;
    /*font-weight: 700;*/
    font-family: 'Segoe UI', sans-serif;
    line-height: 300px;
    text-align: center;
    color: #fff;
    transition: .5s ease;
}

.projectsLink:hover .projectsText {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.projectsList {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    /*width: 1200px;*/
}


.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212529;
}

.projectsTitle {
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
    position: relative;
}

.projectsTitle:before {
    content: '';
    position: absolute;
    background: #20c997;
    width: 75px;
    height: 2px;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
}