.remoteWorkContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #343a40;
}

.remoteWorkContent {
    margin: 20px 0px 20px 0;


}

.remoteTitle {
    position: relative;
}

.remoteTitle:before {
    content: '';
    position: absolute;
    background: #20c997;
    width: 75px;
    height: 2px;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.remoteWorkContent a {
    /* color: white;*/
}