.footerWrapper {
    background-color: #212529;
    display: flex;
    flex-direction: column;
    color: white;
    min-height: 100vh;
}

.footerTitleTop {
    display: flex;
    justify-content: center;
}

.footerTitle {
    font-size: 35px;
    padding-top: 15px;
    position: relative;
}

.footerTitle:before {
    content: '';
    position: absolute;
    background: #20c997;
    width: 75px;
    height: 2px;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
}

/*.footerInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}*/

.footerH2 {
    text-align: center;
    /* color: #20c997;*/
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerForm {
    width: 35%;

}

.footerInputTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottomFooterCont {
    margin-top: 50px;
    display: flex;
    /*margin-bottom: 50px;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.bottomFooterH2 {
    margin: 0;
    padding: 5px;
}

.linkHeader {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: left;
    color: #dee3e4 !important;
}


.linkHeaderCont {
    text-align: left;
}


.linkHeaderImg {
    height: 18px;
    margin: 10px 5px 0 5px;
}


@media screen and (max-width: 850px) {
    .footerContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .footerForm {
        width: auto;

    }
}

